In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
csv_file = "beer_reviews.csv"
beer_reviews_df = pd.read_csv(csv_file)
beer_reviews_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [12]:
beer_reviews_df.count()

brewery_id            1048575
brewery_name          1048566
review_time           1048575
review_overall        1048575
review_aroma          1048575
review_appearance     1048575
review_profilename    1048340
beer_style            1048575
review_palate         1048575
review_taste          1048575
beer_name             1048575
beer_abv              1005757
beer_beerid           1048575
dtype: int64

In [13]:
beer_reviews_clean = beer_reviews_df.dropna()

In [14]:
beer_reviews_clean.count()

brewery_id            1005519
brewery_name          1005519
review_time           1005519
review_overall        1005519
review_aroma          1005519
review_appearance     1005519
review_profilename    1005519
beer_style            1005519
review_palate         1005519
review_taste          1005519
beer_name             1005519
beer_abv              1005519
beer_beerid           1005519
dtype: int64

In [15]:
beer_reviews_clean.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [18]:
beer_reviews_clean2 = beer_reviews_clean.drop(columns=['brewery_id', 'review_time','review_profilename', 'beer_beerid' ])

In [19]:
beer_reviews_clean2.head()

,brewery_name,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_name,beer_abv
0,Vecchio Birraio,1.5,2.0,2.5,Hefeweizen,1.5,1.5,Sausa Weizen,5.0
1,Vecchio Birraio,3.0,2.5,3.0,English Strong Ale,3.0,3.0,Red Moon,6.2
2,Vecchio Birraio,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5
3,Vecchio Birraio,3.0,3.0,3.5,German Pilsener,2.5,3.0,Sausa Pils,5.0
4,Caldera Brewing Company,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7

In [23]:
beer_reviews_clean3 = beer_reviews_clean2.rename(columns={"brewery_name": "Brewery",
                                                          "review_overall": "Overall Review",
                                                         "review_aroma": "Aroma Review",
                                                         "review_appearance": "Appearance Review",
                                                         "beer_style": "Beer Style",
                                                          "review_palate": "Palate Review",
                                                          "review_taste": "Taste Review",
                                                          "beer_name": "Beer Name",
                                                          "beer_abv": "Alcohol By Volume"})

In [25]:
beer_reviews_clean3.head()

,Brewery,Overall Review,Aroma Review,Appearance Review,Beer Style,Palate Review,Taste Review,Beer Name,Alcohol By Volume
0,Vecchio Birraio,1.5,2.0,2.5,Hefeweizen,1.5,1.5,Sausa Weizen,5.0
1,Vecchio Birraio,3.0,2.5,3.0,English Strong Ale,3.0,3.0,Red Moon,6.2
2,Vecchio Birraio,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5
3,Vecchio Birraio,3.0,3.0,3.5,German Pilsener,2.5,3.0,Sausa Pils,5.0
4,Caldera Brewing Company,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7

In [26]:
beer_reviews_clean3.to_csv(r'beer_reviews_final.csv', index = False )

SyntaxError: EOL while scanning string literal (<ipython-input-32-ae2af35f418b>, line 1)

In [43]:
csv_file2 = "open-beer-database.csv"
open_beer_db = pd.read_csv(csv_file2)
open_beer_db.head()

,Name,id,brewery_id,cat_id,style_id,Alcohol By Volume,International Bitterness Units,Standard Reference Method,Universal Product Code,filepath,...,last_mod,Style,Category,Brewer,Address,City,State,Country,Coordinates,Website
0,Porter,716,842,2,25,0.0,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,Porter,Irish Ale,McMenamins Mill Creek,13300 Bothell-Everett Highway #304,Mill Creek,Washington,United States,"47.8774, -122.211",NaN
1,Possession Porter,723,445,2,25,5.6,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,Porter,Irish Ale,Diamond Knot Brewery & Alehouse,621 Front Street,Mukilteo,Washington,United States,"47.9485, -122.305",http://www.diamondknot.com/
2,Maibock,736,1124,7,90,0.0,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,Traditional German-Style Bock,German Lager,Scuttlebutt Brewing,1524 West Marine View Drive,Everett,Washington,United States,"47.9975, -122.214",NaN
3,Free Bike Amber,742,1151,3,33,4.5,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,American-Style Amber/Red Ale,North American Ale,Skagit River Brewing,404 South Third Street,Mount Vernon,Washington,United States,"48.4192, -122.335",NaN
4,Oatmeal Stout,961,691,3,42,0.0,0.0,0.0,0.0,NaN,...,2010-07-22 16:00:00-04:00,American-Style Stout,North American Ale,Independence Brew Pub,1150 Filbert Street,Philadelphia,Pennsylvania,United States,"39.9526, -75.1594",http://www.independencebrewpub.com/

In [44]:
open_beer_db.count()

Name                              5963
id                                5973
brewery_id                        5963
cat_id                            5950
style_id                          5949
Alcohol By Volume                 5948
International Bitterness Units    5948
Standard Reference Method         5948
Universal Product Code            5944
filepath                            25
Description                       2046
add_user                          5930
last_mod                          5900
Style                             4466
Category                          4466
Brewer                            5948
Address                           5191
City                              5921
State                             5624
Country                           5948
Coordinates                       5746
Website                           2879
dtype: int64

In [49]:
open_beer_db_clean = open_beer_db.drop(columns=['Name','Style', 'id','Universal Product Code','Category', 'brewery_id','cat_id', 'style_id','Alcohol By Volume', 'International Bitterness Units', 'Standard Reference Method', 'Standard Reference Method', 'filepath', 'Description', 'add_user', 'last_mod', 'Address', 'Coordinates', 'Website'])
open_beer_db_clean.head()

                            Brewer          City         State        Country
0            McMenamins Mill Creek    Mill Creek    Washington  United States
1  Diamond Knot Brewery & Alehouse      Mukilteo    Washington  United States
2              Scuttlebutt Brewing       Everett    Washington  United States
3             Skagit River Brewing  Mount Vernon    Washington  United States
4            Independence Brew Pub  Philadelphia  Pennsylvania  United States

In [50]:
open_beer_db_clean2 = open_beer_db_clean.rename(columns={"Brewer": "Brewery"})
open_beer_db_clean2.head()

                           Brewery          City         State        Country
0            McMenamins Mill Creek    Mill Creek    Washington  United States
1  Diamond Knot Brewery & Alehouse      Mukilteo    Washington  United States
2              Scuttlebutt Brewing       Everett    Washington  United States
3             Skagit River Brewing  Mount Vernon    Washington  United States
4            Independence Brew Pub  Philadelphia  Pennsylvania  United States

In [51]:
open_beer_db_clean2.count()

Brewery    5948
City       5921
State      5624
Country    5948
dtype: int64

In [52]:
open_beer_db_clean2.to_csv(r'open_beer_db.csv', index = False )